TACZ-1.19.2
libs
build
.vscode/settings.json
.gradle/file-system.probe
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/7.5.1/fileHashes/resourceHashesCache.bin
.gradle/7.5.1/fileHashes/fileHashes.lock
.gradle/7.5.1/fileHashes/fileHashes.bin
.gradle/7.5.1/executionHistory/executionHistory.lock
.gradle/7.5.1/executionHistory/executionHistory.bin
.gradle/7.5.1/checksums/checksums.lock
