/build/libs
libs
.vscode
build
sou
taa属性增加修改建议.txt
ck
-la
.gradle/7.5.1/checksums/checksums.lock
.gradle/7.5.1/checksums/md5-checksums.bin
.gradle/7.5.1/checksums/sha1-checksums.bin
.gradle/7.5.1/dependencies-accessors/dependencies-accessors.lock
.gradle/7.5.1/dependencies-accessors/gc.properties
.gradle/7.5.1/executionHistory/executionHistory.bin
.gradle/7.5.1/executionHistory/executionHistory.lock
.gradle/7.5.1/fileChanges/last-build.bin
.gradle/7.5.1/fileHashes/fileHashes.bin
.gradle/7.5.1/fileHashes/fileHashes.lock
.gradle/7.5.1/fileHashes/resourceHashesCache.bin
.gradle/7.5.1/gc.properties
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/file-system.probe
.gradle/nb-cache/subprojects.ser
.gradle/nb-cache/TaczAttributeAdd-1630654263/project-info.ser
.gradle/nb-cache/trust/0DF924E89199893749AEB2F39A25AEFA8EBDD4B0C1547E5C1AF4D8722F016EBD
.gradle/vcs-1/gc.properties
.gradle/workspace-id.txt
.gradle/workspace-id.txt.lock
*.json
bin/main/com/xlxyvergil/taa/attribute/PlayerAttributeRegistry.class
bin/main/com/xlxyvergil/taa/config/AttributeConfig$DamageCalculationMode.class
bin/main/com/xlxyvergil/taa/config/AttributeConfig.class
bin/main/com/xlxyvergil/taa/context/GunTypeContext.class
bin/main/com/xlxyvergil/taa/context/ShooterContext.class
bin/main/com/xlxyvergil/taa/event/AttachmentPropertyEventHandler.class
bin/main/com/xlxyvergil/taa/mixin/AttachmentPropertyManagerMixin.class
bin/main/com/xlxyvergil/taa/TaczAttributeAdd.class
bin/main/com/xlxyvergil/taa/util/DebugLogger.class
bin/main/com/xlxyvergil/taa/util/PlayerAttributeHelper.class
bin/main/com/xlxyvergil/taa/util/PropertyCacheUpdater.class
bin/main/com/xlxyvergil/taa/util/PropertyCalculationResults.class
bin/main/com/xlxyvergil/taa/util/PropertyCalculator.class
bin/main/META-INF/mods.toml
bin/main/pack.mcmeta
