TACZ-1.19.2
libs
.vscode
build
ck
.gradle/7.5.1/checksums/checksums.lock
.gradle/7.5.1/executionHistory/executionHistory.bin
.gradle/7.5.1/executionHistory/executionHistory.lock
.gradle/7.5.1/fileHashes/fileHashes.bin
.gradle/7.5.1/fileHashes/fileHashes.lock
.gradle/7.5.1/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/file-system.probe
.gradle/nb-cache/subprojects.ser
